---

  - name: Create /etc/httpd/db directory
    ansible.builtin.file:
      path: /etc/httpd/db
      state: directory

  - name: Copy data.py into db server
    ansible.builtin.copy:
        src: files/data.py
        dest: /etc/httpd/cgi-bin/data.py

  - name: Copy clients.db /files/clients.db to /etc/httpd/
    ansible.builtin.copy:
      src: files/clients.db
      dest: /etc/httpd/db/clients.db
      
  - name: Remove Old httpd.conf in /etc/httpd/
    ansible.builtin.file:
      path: /etc/httpd/conf/httpd.conf
      state: absent

  - name: Copy httpd.conf into /etc/httpd/
    ansible.builtin.copy:
      src: files/httpd.conf
      dest: /etc/httpd/conf/httpd.conf
      backup: yes

  - name: Set ownership on db directory
    ansible.builtin.file:
      path: /etc/httpd/db
      owner: apache
      group: apache
      recurse: true

  - name: Set executable mode on data.py
    ansible.builtin.file:
      path: /etc/httpd/cgi-bin/data.py
      mode: '0755'

  - name: Ensure httpd service is started and enabled
    ansible.builtin.service:
      name: httpd
      state: started
      enabled: true

####--exit-- Create a handler-------######
  - name: Restart httpd after db configuration
    ansible.builtin.service:
      name: httpd
      state: restarted
