---
- name: Create /etc/httpd/db directory
  ansible.builtin.file:
    path: /etc/nginx/ssl
    state: directory
    mode: '0755'

- name: Render webapp.conf to /tmp
  template:
    src: webapp.conf
    dest: /tmp/webapp.conf

- shell: 'openssl req -x509 -nodes -days 1825 -newkey rsa:2048 -keyout /etc/nginx/ssl/webapp.key -out /etc/nginx/ssl/webapp.pem -config /tmp/webapp.conf'

- name: Render nginx.conf to /etc/nginx/nginx.conf
  template:
    src: "{{ role_path }}/files/nginx.conf"
    dest: /etc/nginx/nginx.conf

- name: Ensure nginx service is restarted and enabled
  ansible.builtin.service:
    name: nginx
    state: restarted
    enabled: true
