---
- name: Render templated network config file
  template:
    src: templates/csr.j2
    dest: templates/app-01a.conf
  delegate_to: localhost

- name: Copy app-01a.conf to /tmp
  copy:
    src: templates/app-01a.conf
    dest: /tmp/app-01a.conf

- name: Generate app TLS certificate and key
  ansible.builtin.command: openssl req -x509 -nodes -days 1825 -newkey rsa:2048 -keyout /tmp/app.key -out /tmp/app.pem -config /tmp/app-01a.conf

- name: Install app TLS private key
  ansible.builtin.copy:
    src: /tmp/app.key
    dest: /etc/httpd/conf/server.key
    remote_src: true
    mode: '0600'

- name: Install app TLS certificate
  ansible.builtin.copy:
    src: /tmp/app.pem
    dest: /etc/httpd/conf/server.crt
    remote_src: true
    mode: '0644'

- name: Remove Old httpd.conf in /etc/httpd/
  ansible.builtin.file:
    path: /etc/httpd/conf/httpd.conf
    state: absent

- name: Copy httpd.conf to /etc/httpd/conf/
  copy:
    src: files/httpd.conf
    dest: /etc/httpd/conf/httpd.conf

- name: Copy httpd-ssl.conf to /etc/httpd/conf/extra/httpd-ssl.conf
  copy:
    src: files/httpd-ssl.conf
    dest: /etc/httpd/conf/extra/httpd-ssl.conf

- name: Ensure httpd service is started and enabled
  ansible.builtin.service:
    name: httpd
    state: started
    enabled: true

- name: Render templated app.py file
  template:
    src: templates/app.j2
    dest: /tmp/app.py
  delegate_to: localhost

- name: Copy app.py to /etc/httpd/cgi-bin/app.py
  copy:
    src: /tmp/app.py
    dest: /etc/httpd/cgi-bin/app.py

- name: Set app.py executable mode
  ansible.builtin.file:
    path: /etc/httpd/cgi-bin/app.py
    mode: '0755'